@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    font-family: 'Roboto', sans-serif;
    width: min(90%, 70rem);
    margin: 0 5.5% 0 auto;
    min-height: 60vh;
    
}
.header-links {
    width: 100%;
    list-style: none;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 2px 10px -3px rgb(0 0 0 / 30%);
    
  }
  .header-links li {
    padding: 5px 10px;
  }
  .header-links li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .header-links li a:hover {
    color: #2874f0;
  }
#message {
    background-color: rgb(95, 156, 95);
    display: inline-block;
    padding: 10px 20px;
    top: 65px;
    right: 10px;
    color: white;
    border-radius: 10px;
    position: absolute;
}
.product{
    width: 100%;
    display: grid;
    grid-template-columns: 450px auto;
    column-gap: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
    margin: 20px 0;
}
.product:last-child{
    border: none;
}
.product-img img{
    width: 90%;
    height: 405px;
    object-fit: cover;
    object-position: center;
    object-fit: contain;
}

.product-img{
    position: relative;
}
.product-form{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding-top: 5px;
}
.product-btn{
    width: 100%;
    height: 50px;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #ff9f00;
    color: white;
    transition: background-color 200ms ease-in-out;
}
.product-btn:hover{
    background-color: #fb641b;
}
.product-btn a{
    text-decoration: none;
    color: white;
}
.out{
    font-size: 2rem;
    color: red;
    text-align: center;
    padding: 5px 0;
    padding-right: 10%;
}
.product-name{
    line-height: 1.3;
    margin-top: 5%;
    
}
.price{
    margin: 10px 0;
}

.discount-price span:nth-child(1),
.discount-price strike{
    color: red;
}
.discount-price span:last-child{
    font-size: 1.3rem;
    color: green;
}
.description{
    line-height: 1.7;
    font-size: 1.2em;
    font-weight: 500;
}
.nrf {
    position: absolute;
    top: 10%;
    left: 35%;
    font-size: 40px;
    padding-top: 70px;
    font-style: bold;
    font-weight: 700;
    color: red;
}
.wishlist {
    position: absolute;
    top: 30px;
    right: 15px;
    display: flex;
    justify-content: flex-end;
  }
  .wishlist button {
    border: none;
    outline: none;
    background-color: transparent;
    color: #d3d3d3;
    cursor: pointer;
    font-size: 20px;
  }
  .wishlist button:focus {
    color: red;
  }