* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  img {
    width: 100%;
  }
  .container {
    width: min(80%, 60rem);
    margin: 0 auto;
    height: auto;
  }
  .order-div {
    margin: 15px 0;
    padding: 15px 30px;
    box-shadow: 1px 2px 10px -3px rgb(0 0 0 / 56%);
    border-radius: 5px;
  }
  .order-div h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 3rem;
    position: relative;
  }
  .order-div h1::before {
    content: "";
    height: 2px;
    width: 100%;
    background-color: lightgrey;
    position: absolute;
    top: 110%;
    left: 0;
  }
  .product-details-div {
   
    margin-bottom: 20px;
  }
  .product-details {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  .product-details h3 {
    font-size: 22px;
  }
  .product-details p {
    font-size: 18px;
  }
  
  .address-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .address-div h2 {
    grid-column: span 2;
  }
  .address-div .input-box {
    width: 100%;
  }
  .address-div .input-box label {
    display: block;
    font-size: 17px;
    padding-bottom: 5px;
  }
  .address-div input,
  .address-div textarea {
    width: 100%;
    outline: none;
    font-size: 1rem;
    border: 1px solid lightgrey;
    padding: 10px;
    position: relative;
  }
  .address-div textarea {
    resize: none;
  }
  
  .address-div .input-box:last-child {
    grid-column: span 2;
  }
  .procced-btn-div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
  }
  .procced-btn-div input[type="submit"] {
    border: none;
    outline: none;
    background-color: #fb641b;
    color: white;
    padding: 15px 20px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
  }
  .delivery-address-div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2px;
  }
  .delivery-address-div .label {
    position: relative;
    width: 100%;
  }
  .delivery-address-div .label::after {
    content: ":";
    position: absolute;
    right: 0;
  }
  .delivery-address-div p {
    font-size: 20px;
  }
  .col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .payment-option {
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .payment-option label {
    margin-right: 15px;
  }
  .address-div .valid-date {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }
  .address-div .valid-date label {
    grid-column: span 2;
  }
  .address-div .valid-date select {
    width: 100%;
    border: 1px solid lightgray;
    outline: none;
    padding: 10px;
    font-size: 16px;
  }
  
  .msg-div {
    text-align: center;
    margin: 10px 0px 70px;
  }
  .msg-div h1 {
    margin-bottom: 10px;
  }
  .msg-div .continue-btn {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #fb641b;
    color: white;
    font-weight: 600;
  }
